obj/Deber 04.csproj.nuget.dgspec.json
obj/Deber 04.csproj.nuget.g.props
obj/Deber 04.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/apphost.exe
obj/Debug/net7.0/Deber 04.AssemblyInfo.cs
obj/Debug/net7.0/Deber 04.AssemblyInfoInputs.cache
obj/Debug/net7.0/Deber 04.assets.cache
obj/Debug/net7.0/Deber 04.csproj.AssemblyReference.cache
obj/Debug/net7.0/Deber 04.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/Deber 04.csproj.FileListAbsolute.txt
obj/Debug/net7.0/Deber 04.dll
obj/Debug/net7.0/Deber 04.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/Deber 04.genruntimeconfig.cache
obj/Debug/net7.0/Deber 04.GlobalUsings.g.cs
obj/Debug/net7.0/Deber 04.pdb
obj/Debug/net7.0/ref/Deber 04.dll
obj/Debug/net7.0/refint/Deber 04.dll
bin/Debug/net7.0/Deber 04.deps.json
bin/Debug/net7.0/Deber 04.dll
bin/Debug/net7.0/Deber 04.exe
bin/Debug/net7.0/Deber 04.pdb
bin/Debug/net7.0/Deber 04.runtimeconfig.json
